.ap_MenuBar{
    -fx-background-color:#F0F0F0;
    -fx-border:none;
    -fx-padding:0;
    -fx-font-size:12;
}
.ap_MenuItem{
	-fx-padding: 8 60 8 30;
	-fx-font-size:12;
	-fx-cursor:hand;
}
.context-menu{
	-fx-padding:2;
	-fx-border-width:0;
	-fx-background-color:rgb(242,242,242,0.96); /*0.87*/
	/*-fx-background-radius:2px;*/
	/*-fx-effect:dropshadow(three-pass-box, #F2F2F2, 1, 0, 0, 0);*/ /*阴影效果*/
}
.menu-bar > .container > .menu-button:showing{ /*菜单栏选中并移动到二级菜单时一级选中菜单的样式*/
    -fx-background-color:#CCCCCE;
    -fx-border-color:#CCCCCE;
}
.menu-button{
	-fx-padding:1 4 1 4;
	-fx-border-width:1;
	-fx-border-color:#F0F0F0;
}
.menu-button:hover{
	-fx-background-color:#CCCCCE;
	-fx-border-color:#CCCCCE;
}
.menu-button > .label,.menu-item > .label{
	-fx-text-fill:BLACK;
}
.menu-item:focused{
	-fx-background-color:#CCCCCE; /*#90C8F6*/
}
.menu:focused > .right-container > .arrow{
    -fx-background-color:#CCCCCE;
}