
.list-cell:even {
   /* -fx-background-color:  #202020;
       -fx-font:bold 12px Arial, Helvetica, sans-serif;
       -fx-list-cell-fill:pink；
       -fx-cell-size：20;
       */

/*
       -fx-font-weight: bold;

       -fx-text-fill: #333333;

       -fx-effect: dropdown( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
       */
     /*-fx-text-fill: white;

        -fx-font-family: “Arial Narrow”;

        -fx-font-weight: bold;

        -fx-background-color: linear-gradient(#61a2b1, #2A5058);

        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        */
             -fx-background-color:white;
            -fx-text-fill: #292e34;
            -fx-font-family: Arial;
            -fx-pref-height: 60px;


}

.list-cell:odd {
    /*-fx-background-color:  #202020;
    -fx-font:bold 12px Arial, Helvetica, sans-serif;

      -fx-text-fill: white;

             -fx-font-family: “Arial Narrow”;

             -fx-font-weight: bold;

             -fx-background-color: linear-gradient(#61a2b1, #2A5058);

             -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
             */
 -fx-background-color:white;
            -fx-text-fill: #292e34;
            -fx-font-family: Arial;
            -fx-pref-height: 60px;
}
.list-cell:selected {
    -fx-background-color: #eee;
}

.list-cell:hover {

   -fx-background-color: linear-gradient(#eee, #eee);

}
/*
.list-cell:empty {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-font:bold 12px Arial, Helvetica, sans-serif;
}
*/

/*
.list-cell:after {
    background: -moz-linear-gradient(left, #0ad, #08b);
    top: 84px;
    left: 75px;
}
.list-cell:before {
    background: -moz-linear-gradient(right, #0ad, #08b);
    top: 84px;
    right:75px;
}
.list-cell:hover:after,.list-cell:hover:before{
    width: 72px;
    height: 1px;
    opacity:1;
}
.list-cell:after, li:before {
    -moz-transition:width 0.5s ease 0s;
    height: 0px;
    width: 0px;
    position: absolute;
    content: ' ';
    display: block;
    opacity:0;
    box-shadow: 0px 0px 5px #00c6ff;
}


body{
    background:#202020;
    font:bold 12px Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    min-width:960px;
    color:#bbbbbb;
}
a {
    text-decoration:none;
    color:#fff;
}
h1 {
    font: 4em normal Arial, Helvetica, sans-serif;
    padding: 20px; margin: 0;
    text-align:center;
}
h1 small{
    font: 0.2em normal Arial, Helvetica, sans-serif;
    text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
    display: block;
}
header {
    padding:0 40px;
    margin:0 auto;
    position:relative;
    width:915px;
    height:145px;
}
header nav ul{
    list-style:none;
    padding-top:50px;
}
header nav li {
    position:relative;
    float: left;
    width:150px;
    text-align:center;
    padding-top:35px;
    padding-bottom:35px;
    color:#fff;
    margin-right:20px;
    border-radius:5px;
    background:#161616;
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    cursor:pointer;
}
*/